version: "3.9"

services:
  db:
    image: postgres:15
    container_name: vacancies_db
    restart: unless-stopped

    environment:
      POSTGRES_DB: vacancies
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app

    ports:
      - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
